*{
    margin: 0;
    padding: 0;
    box-sizing: boruder-box;
}
h1{
    color:rgb(97, 34, 34);

}
h1:hover{
    color: green;
}
#container{
    border: 2px solid black;
    background-image: linear-gradient(rgb(197, 197, 226),rgb(232, 168, 179));
    color: rgb(47, 42, 42);
    margin:100px ;
    padding: 5%;


}
body{
    background-image: linear-gradient(rgb(168, 168, 199),rgb(203, 168, 168));
    
}
label{
    font-family: 'Courier New', Courier, monospace;
    color: 1px solid black;
}
label:hover{
    color: green;
}


